.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8cccac;


   img {

        width: 100px;
        margin-top: 40px
    }
        h1 {
            color: #fff;
        }
    

}